* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 185px;
  background-color: white;
  color: #282c34;
  border-radius: 0.5rem;
  display: block;
  background-clip: border-box;
}
.card .card-img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card .card-img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: inherit;
}

.card h1 {
  font-size: 1rem;
  padding: 0 1rem;
  margin: 1rem 0 0.5rem 0;
}

.card .card-body {
  font-size: 0.8rem;
  padding: 0 1rem 1rem 1rem;
}

.wrapper-input {
  margin: 3rem 0;
}

.wrapper-input .search {
  padding: 0.5rem;
  width: 15rem;
  border-radius: 0.25rem;
}
