.navbar {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
}

.navbar .nav-logo a {
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-menu a {
  display: inline-block;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar .nav-menu a:hover {
  color: chocolate;
  transition: 0.3s;
}
